<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    
    <!-- Booststrap v5.3-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='favori.css') }}">

    <title>app</title>
    <style>
        /* Style de la div à afficher */
        #maDiv {
          display: none; /* Masqué par défaut */
        }
      </style>
</head>
<body>
    <div class="weather-app">
        <div class="container">
          <h1 class="titre">Favorites cities</h1>
            <table class="tableau">
                <tr>
                  <th></th>
                  <th></th>
                </tr>
                <tr>
                  <td>New York</td>
                  <td><button onclick="ajouterDetails()"><img src="../static/assets/images/backgrounds/info.png" class="imp"></button></td>
                  <td><button onclick="deleteRow(this)"><img src="../static/assets/images/backgrounds/poub.png" class="im"></button></td>
                </tr>
                <tr>
                    <td>Paris</td>
                    <td><button onclick="ajouterDetails()"><img src="../static/assets/images/backgrounds/info.png" class="imp"></button></td>
                    <td><button onclick="deleteRow(this)"><img src="../static/assets/images/backgrounds/poub.png" class="im"></button></td>
                  </tr>
                <tr>
                    <td>Beirut</td>
                    <td><button onclick="ajouterDetails()"><img src="../static/assets/images/backgrounds/info.png" class="imp"></button></td>
                    <td><button><img src="../static/assets/images/backgrounds/poub.png" class="im"></button></td>
                  </tr>
                <tr>
                    <td>Tunis</td>
                    <td><button onclick="ajouterDetails()"><img src="../static/assets/images/backgrounds/info.png" class="imp"></button></td>
                    <td><button onclick="deleteRow(this)"><img src="../static/assets/images/backgrounds/poub.png" class="im"></button></td>
                  </tr>
                <tr>
                    <td>London</td>
                    <td><button onclick="ajouterDetails()"><img src="../static/assets/images/backgrounds/info.png" class="imp"></button></td>
                    <td><button onclick="deleteRow(this)"><img src="../static/assets/images/backgrounds/poub.png" class="im"></button></td>
                </tr>
                
              </table>
        </div>

        <script>
            function ajouterDetails() {
            var div = document.getElementById("maDiv");
            if (div.style.display === "none") {
            div.style.display = "block";
            } 
            else {
             div.style.display = "none";
        }
            }
          </script>
          <script>
            function deleteRow(btn) {
              var row = btn.parentNode.parentNode;
              row.parentNode.removeChild(row);
            }
          </script>

        <div class="panel" id="maDiv">
            <ul class="details">
                <h4>Weather Details</h4>
                <li>
                  <span>Temperature</span>
                  <span class="cloud">89%</span>
              </li>
                <li>
                    <span>Cloudy</span>
                    <span class="cloud">89%</span>
                </li>
                <li>
                  <span>Sunny</span>
                  <span class="cloud">89%</span>
              </li>
              <li>
                <span>Pressure</span>
                <span class="cloud">89%</span>
            </li>
                <li>
                    <span>Humidity</span>
                    <span class="humidity">64%</span>
                </li>
                <li>
                    <span>Wind</span>
                    <span class="wind">8km/h</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--
    // Récupérer toutes les lignes du tableau
const rows = document.getElementsByTagName("tr");

// Parcourir toutes les lignes
for (let i = 0; i < rows.length; i++) {
  // Ajouter l'événement mouseover à chaque ligne
  rows[i].addEventListener("mouseover", function() {
    this.style.backgroundColor = "yellow"; // Changer la couleur de fond en jaune
  });

  // Ajouter l'événement mouseout à chaque ligne
  rows[i].addEventListener("mouseout", function() {
    this.style.backgroundColor = ""; // Réinitialiser la couleur de fond
  });
}-->

</body>
</html>