<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    
    <!-- Booststrap v5.3-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>

    <title>app</title>
</head>
<body>
   
    <div class="weather-app {{city['temps']}}">
        <div class="container">
            <div>
                {% if user %}
                    <div style="display : flex ">
                        <i class="icon-user" style="height:25px ; margin-right:20px"></i>
                        <span style="padding-bottom: 10px;"><a href="{{ url_for('home_blueprint.profile') }}">Welcome {{user['username']}}</a></span>
                    </div>
                    <button> logout </button>
                {% else %}
                    <button> <a href="{{url_for('authentication_blueprint.login')}}" class="text-decoration: none !important;" > SignIn</a> </button>
                    <button > <a href="{{url_for('authentication_blueprint.signup')}}" class="text-decoration: none !important;" > SignUp</a></button>
                {% endif %}
                
            </div>  

            
            <div class="favori">
            <button ><a href="{{ url_for('home_blueprint.favori') }}" style="">favori</a></button>
            <h3 class="brand"> the weather</h3>
            </div>
            <div>
                <h1 class="temp">{{city['temperature']}}&#176</h1>
                <div class="city-time">
                    <h1 class="name">{{city['name']}}</h1>
                    <small>
                        <span class="time">{{city['currentTime']}}</span>
                        -
                        <span class="date">
                            {{date}}
                        </span>
                    </small>
                </div>
                <div class="weather">
                    {% if 'cloud' in city.temps %}
                        <img src="../static/assets/icons/weather/64x64/day/119.png"
                            class="icons"
                            alt="icon"
                            width="50"
                            height="50"
                        />
                    {% elif 'clear' in city.temps %}
                        <img src="../static/assets/icons/weather/64x64/day/113.png"
                            class="icons"
                            alt="icon"
                            width="50"
                            height="50"
                        />
                    {% else %}
                        <img src="../static/assets/icons/weather/64x64/day/176.png"
                            class="icons"
                            alt="icon"
                            width="50"
                            height="50"
                        />
                    {% endif %}
                    <span class="condition">{{city.temps}}</span>
                </div>
            </div>
        </div>
        <div class="panel">
            <form id="locationInput" action="{{ url_for('home_blueprint.home') }}" method="POST">
                <input type="text" class="search" name="city" placeholder="Search location ..."/>
                <button type="submit" class="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  class="bi bi-search" >
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                </button>
            </form>
            <ul class="cities">
                {%for city in cities%}
                <li id={{city.city}} class="city"><a href="http://localhost:5000/{{city.city}}" style="color: inherit;text-decoration: none;">{{city.city}}</a></li>
                {%endfor%}
                <!-- <li id="my-button" class="city">cold country</li>
                <li id="my-button" class="city">sunny country</li>
                <li id="my-button" class="city">faza country</li>
                <li id="my-button" class="city">New York</li> -->
            </ul>
            
            <ul class="details">
                <h4>Weather Details</h4>
                <li>
                    <span>{{city.temps}}</span>
                    <span class="cloud">{{city['atmosphericPressure']}} hPa</span>
                </li>
                <li>
                    <span>Humidity</span>
                    <span class="humidity">{{city['humidity']}} %</span>
                </li>
                <li>
                    <span>Wind</span>
                    <span class="wind">{{city['wind']}} m/s</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>