<!DOCTYPE html>
<html>
  <head>
    <title>Flask + Leaflet Map</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  </head>
  <body>
    <div id="map" style="height: 500px;"></div>
    <script>
      var map = L.map('map').setView(["{{location['lat']}}", "{{location['lon']}}"], 13);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
      }).addTo(map);

      L.tileLayer('https://tile.openweathermap.org/map/{layer}/{z}/{x}/{y}.png?appid={API_key}', {
            attribution: 'Map data &copy; <a href="https://openweathermap.org">OpenWeatherMap</a>',
            layer: 'temp_new',
            API_key: '52082668a5218930e731090e3ab37945',
        }).addTo(map);
      
      var marker = L.marker(["{{location['lat']}}", "{{location['lon']}}"]).addTo(map);
      marker.bindPopup("<b>"+ "{{city['name']}}" +"</b>"+
      "<br>"+
      "<b> temperature </b> " + "{{city['temperature']}}"+ "<br>"
      +"<b> weather </b> "+"city.temps" + "<br>"
      +"<b> atmosphere </b> "+"{{city['atmosphericPressure']}}" + "<br>"
      +"<b> humidity </b> "+"{{city['humidity']}}" + "<br>"
      +"<b> wind </b> "+"{{city['wind']}}" + "<br>").openPopup();
    </script>
  </body>
</html>






